@use 'logo/logo';

//кнопки
@use 'button/button';
@use 'unwrap/unwrap';
@use 'order/order';
@use 'langue/langue';

//списки и доп. элементы
@use 'list/list';
@use 'separator/separator';
@use 'heading/heading';
@use 'swiper/swiper';
@use 'modal/modal';


//контейнеры
@use 'page/page';
@use 'menu/menu';
@use 'form/form';
@use 'call/call';
@use 'feedback/feedback';
@use 'header/header';
@use 'about/about';
@use 'root/root';
@use 'brends/brends';
@use 'equipment/equipment';
@use 'services/services';
@use 'table/table';
@use 'info/info';
@use 'footer/footer';

@import '~normalize.css';

@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff'),
        url('fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Medium.woff') format('woff'),
        url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TTLakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff'),
        url('fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TTLakes', Arial, sans-serif;
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    appearance: none;

    :focus {
        outline: none;
    }
}

