@use '../var';


@keyframes menu--open {
    0% {
        left: -360px;
    }

    100% {
        left: 0px;
    }
}

@keyframes menu--close {
    0% {
        left: 0px;
        display: flex;
    }

    100% {
        left: -360px;
    }
}

@mixin animation() {
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0ms;
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
}

.page {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    align-items: flex-start;    

    @media #{var.$l-min} {
        justify-content: center;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 320px;
        height: 100%;

        @media#{var.$l-max} {
            &--action--open {
                display: flex;
                animation-name: menu--open;
                left: 0;
                z-index: 2;
                box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
                @include animation();
            }

            &--action--close {
                animation-name: menu--close;
                left: -360px;
                z-index: 2;
                @include animation();
            }
        }

        @media #{var.$l-min} {
            display: flex;
        }
    }

    &__container {
        width: 100%;

        @media #{var.$l-min} {
            max-width: 1120px;
            box-shadow: 0px 2px 4px 0px rgb(0, 0, 0);
        }
    }
}