@use '../var';

.heading {
    @include var.a-font;
    color: var.$black-grey-color;
    background-color: inherit;

    &--type--page {
        padding: 24px;
        box-shadow: inset 0 -0.7px 0 0 var.$aqua-color, inset 0 0.5px 0 0 var.$aqua-color;
        background: linear-gradient(90deg, var.$grey-color, white);
    }
}